<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/css/kurasu.css">
	<meta charset="UTF-8">
	<title>クラス選択</title>


</head>

<body>

	<h1>クラスを選択して下さい</h1>

	<a href="http://localhost:8080/sotuhome" style="font-size: 50px;">1A</a>
	<a href="http://localhost:8080/sotuhome" style="font-size: 50px;">1B</a>
	<a href="http://localhost:8080/sotuhome" style="font-size: 50px;">1C</a>
	<a href="http://localhost:8080/sotuhome" style="font-size: 50px;">1D</a>
	<a href="http://localhost:8080/sotuhome" style="font-size: 50px;">1E</a>
	<a href="http://localhost:8080/sotuhome" style="font-size: 50px;">1F</a>
	<a href="http://localhost:8080/sotuhome" style="font-size: 50px;">1G</a>
	<a href="http://localhost:8080/sotuhome" style="font-size: 50px;">1H</a>
	<a href="http://localhost:8080/sotuhome" style="font-size: 50px;">1I</a><br><br><br>

	<a href="http://localhost:8080/sotuhome" style="font-size: 50px;">2A</a>
	<a href="http://localhost:8080/sotuhome" style="font-size: 50px;">2B</a>
	<a href="http://localhost:8080/sotuhome" style="font-size: 50px;">2C</a>
	<a href="http://localhost:8080/sotuhome" style="font-size: 50px;">2D</a>
	<a href="http://localhost:8080/sotuhome" style="font-size: 50px;">2E</a>
	<a href="http://localhost:8080/sotuhome" style="font-size: 50px;">2F</a>
	<a href="http://localhost:8080/sotuhome" style="font-size: 50px;">2G</a>
	<a href="http://localhost:8080/sotuhome" style="font-size: 50px;">2H</a>
	<a href="http://localhost:8080/sotuhome" style="font-size: 50px;">2I</a><br><br><br>

	<a href="http://localhost:8080/sotuhome" style="font-size: 50px;">3A</a>
	<a href="http://localhost:8080/sotuhome" style="font-size: 50px;">3B</a>
	<a href="http://localhost:8080/sotuhome" style="font-size: 50px;">3C</a><br><br><br>

	<a href="http://localhost:8080/sotuhome" style="font-size: 0px;">4A</a>
</body>

</html>
