<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>クラス選択</title>
</head>

<body>

	<h1>クラスを選択して下さい</h1>

<a href="http://localhost:8080/sotuhome">1A</a>
<a href="http://localhost:8080/sotuhome">1B</a>
<a href="http://localhost:8080/sotuhome">1C</a>
<a href="http://localhost:8080/sotuhome">1D</a>
<a href="http://localhost:8080/sotuhome">1E</a>
<a href="http://localhost:8080/sotuhome">1F</a>
<a href="http://localhost:8080/sotuhome">1G</a>
<a href="http://localhost:8080/sotuhome">1H</a>
<a href="http://localhost:8080/sotuhome">1I</a>

<a href="http://localhost:8080/sotuhome">2A</a>
<a href="http://localhost:8080/sotuhome">2B</a>
<a href="http://localhost:8080/sotuhome">2C</a>
<a href="http://localhost:8080/sotuhome">2D</a>
<a href="http://localhost:8080/sotuhome">2E</a>
<a href="http://localhost:8080/sotuhome">2F</a>
<a href="http://localhost:8080/sotuhome">2G</a>
<a href="http://localhost:8080/sotuhome">2H</a>
<a href="http://localhost:8080/sotuhome">2I</a>

<a href="http://localhost:8080/sotuhome">3A</a>
<a href="http://localhost:8080/sotuhome">3B</a>
<a href="http://localhost:8080/sotuhome">3C</a>

<a href="http://localhost:8080/sotuhome">4A</a>
</body>

</html>