<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/yoyaku.css}">
     <iframe src="sidemenu.html" ></iframe>
    <title>予約詳細画面</title>
</head>
<header>
  <h1><a href="/">logo</a></h1>
  <nav>
    <ul>
      <li><a class="js-header-nav-link" href="/sotuhome">カレンダー</a></li>
      <li><a class="js-header-nav-link" href="/log">ログ</a></li>
      <li><a class="js-header-nav-link" href="/logout">ログアウト</a></li>
    </ul>
  </nav>
</header>
<body>
	<div>
        <p>学籍番号: <span th:text="${id}"></span></p>
        <h id="hiduke"><div th:text = "${startDate}"></div></h>
        <p>日付: <span th:text="${startDate}"></span> です。</p>
		<h3>予約情報を入力してください</h3>
		
		<form th:action="@{/yoyaku}" method="POST">
			
			<label for="pcNum">PC番号:</label>
			<input type="text" name="pcNum"><br><br>
			
			<label for="henkyaku">返却予定日:</label>
			<input type="date" name="henkyaku"><br><br>
			
			<label for="used">使用用途:</label>
			<input type="text" name="used"><br><br><br>
			
			<button type="submit">決定</button>
			
			日付<p th:text="${startDate}">です。
		</form>
		
		
    </div>
    
</body>
</html>